html {
    position: relative;
    min-height: 100%;
    margin-bottom: 60px;
}

body {
    /*background-image: url('../imgs/bg/triangles.png');*/
    background-color: #ededed;
    font-family: waukegan, Tahoma, Geneva, sans-serif !important;
    font-size: 14px;
}

a {
    color: #037500;
}

a:hover {
    text-decoration: none;
}

.form-signin {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.form-signup {
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
}

.logo {
    float: right !important;
}

.userphoto {
    margin: auto;
    margin-top: -60px;
    background:#fff;
    border-radius: 90px;
    -moz-border-radius: 90px;
    width:90px
}

.breadcrumb-arrow {
    height: 36px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: #DCDCDC;
}
.breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: ""
}
.breadcrumb-arrow li span {
    padding: 0 10px;
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px
}
.breadcrumb-arrow li:first-child a {
    padding: 0 10px
}
.breadcrumb-arrow li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #909090;
    border: 1px solid #909090
}
.breadcrumb-arrow li:first-child a {
    padding-left: 10px
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent
}
.breadcrumb-arrow li a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #909090;
    border-left-style: solid;
    border-left-width: 11px
}
.breadcrumb-arrow li a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #DCDCDC
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: #C0C0C0;
    border: 1px solid #C0C0C0;
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
    border-left-color: #C0C0C0
}
.breadcrumb-arrow li a:active {
    background-color: #909090;
    border: 1px solid #909090
}
.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
    border-left-color: #909090
}
.breadcrumb-arrow li span {
    color: #434a54
}

.nav-sidebar {
    border-top: 1px solid #d1d1d1;
    margin: 0px;
}

.nav-sidebar > li {
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-left: -40px;
    padding: 10px;
    padding-right: 20px;
    border-bottom: 1px solid #d1d1d1;
}

.nav-sidebar > li:hover {
    background-color: #f5f5f5;
}

.nav-sidebar > li a {
    display: block;
}

.nav-dropdown {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.nav-dropdown > li {
    background-color: #848484;
    list-style: none;
    margin-left: -50px;
    margin-right: -20px;
    border-bottom: 1px solid #848484;
    padding: 10px;
    padding-left: 50px;
}

.nav-dropdown > li a {
    display: block;
    color: #ffffff !important;
}

.nav-dropdown > li:hover {
    display: block;
    color: #ffffff !important;
    background-color: #a4a1a1;
    list-style: none;
}

form {
    margin-bottom: 0px;
}

th {
    font-size: 12px;
}

td {
    font-size: 12px;
}

.userphoto {
    border-radius: 50%;
    border: 5px solid #ffffff;
}

.modal-center {
  text-align: center;
}

.modal-center-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#search_text::placeholder {
    font-size: 12px;
}

p {
    margin: 0px !important;
}

.scroll-x {
    overflow-x: auto;
}

.avatar {
    background-color: #f2f2f2;
    border: 5px solid #ffffff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.color-green {
    color: #05a100 !important;
}

.color-red {
    color: #f40000 !important;
}

.dotted-line {
    border-top: 1px dotted #8b8b8b;
    margin-bottom: 20px;
}

.panel {
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.panel-default {
}

.navbar-default {
    background-color: #037500;
    border: 0px solid #ffffff;
    /*border-bottom: 3px solid #06c500;*/
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.nav-sidebar-menu {
    border-top: 1px solid #d1d1d1;
    margin: 0px;
}

.nav-sidebar-menu > li {
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-left: -40px;
    padding: 10px;
    padding-right: 20px;
    border-bottom: 1px solid #d1d1d1;
}

.table {
    margin: 0px !important;
}

.panel-default {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.btn-evaluate {
    background-color: #049900;
    border: 1px solid #049900;
    padding: 5px !important;
    padding: 3px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 2px;
}

.btn-evaluate:hover {
    background-color: #ffffff;
    border: 1px solid #049900;
    padding: 5px;
    font-weight: bold;
    color: #049900;
    border-radius: 2px;
}

.btn-evaluate-done {
    background-color: #ebebeb;
    border: 1px solid #a0a0a0;
    padding: 5px !important;
    padding: 3px;
    font-weight: bold;
    color: #a0a0a0;
    border-radius: 2px;
}

.panel-footer {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .pc {
        display: none;
    }
}

/* Medium Devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .pc {
        display: anything;
    }
}

#loading {
    background: rgba(255, 255, 255, 0.65);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9001;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  align-self: center;
}

.spinner > div {
  width: 20px;
  height: 20px;
  background-color: #037500;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.menu {
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-top: 1px solid #f1f1f1;
}

.btn {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #05a100;
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    color: #fff;
}

.navbar-default button.navbar-toggle{
    background-color: #ffffff;
    color: #037500;
}

span.icon-bar {
    color: #037500;
}

.modal-header {
    margin: 5px;
    border: 0px solid #ffffff;
    background-color: #037500;
    border-radius: 5px;
    color: #ffffff;
}

.modal-header .close {
    color: #ffffff !important;
}

.btn-success {
    background-color: #037500;
    border: 0px solid #ffffff;
}

.form-control {
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px !important;
}

.btn-primary {
    background-color: #6f6f6f;
    color: #fff;
}

.btn-primary:hover {
    background-color: #000;
    color: #fff;
}

.infoMenu {
    
}

ul.infoMenu {
    
}

ul.infoMenu li {
    list-style-type: none;
}

.my-group .form-control{
    width: 50%;
}
.footer {
    background-image: url('../imgs/bg/triangles.png');
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    color: #4f4f4f;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    border-top: 1px solid #ccc;
    box-shadow: 
        inset 0px 11px 8px -10px #CCC,
        inset 0px -11px 8px -10px #CCC; 
}

body > .container {
    padding: 60px 15px 0;
    margin-bottom: 60px;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.color-gray {
    color: #E5E5E5;
}
